---
import Layout from "../layouts/Layout.astro";
import Vediting from "../assets/video-editing.jpg";
import Gdesign from "../assets/graphic-des.jpg";
import WebDesign from "../assets/web-design.jpg";
import Typewriting from "../assets/typwriting.jpg";
import Msword from "../assets/msword.svg";
import { Image } from "astro:assets";
---

<Layout title="Our Services">
  <div class="outer-container">
    <div class="hero" id="home">
      <h1>Welcome to Guidance</h1>
      <p>Your pathway to academic and career success</p>
    </div>
    <div class="services-container">
      <div class="service">
        <Image src={Vediting} alt="Service 1" class="service-image" />
        <h2>Professional Graphic Design</h2>
        <p>
          Transform your ideas into visually stunning designs with our expert
          graphic design services. From logos to marketing materials, we bring
          your brand to life.
        </p>
      </div>
      <div class="service">
        <Image src={Gdesign} alt="Service 2" class="service-image" />
        <h2>Expert Video Editing</h2>
        <p>
          Enhance your videos with professional editing services. Whether for
          marketing, social media, or personal projects, our editors create
          captivating and polished videos.
        </p>
      </div>
      <div class="service">
        <Image src={WebDesign} alt="Service 3" class="service-image" />
        <h2>Custom Web Development</h2>
        <p>
          Build a powerful online presence with our custom web development
          solutions. We design and develop websites that are responsive,
          user-friendly, and tailored to your needs
        </p>
      </div>
      <div class="service">
        <Image src={Typewriting} alt="Service 3" class="service-image" />
        <h2>Multi-Language Typing Services</h2>
        <p>
          Build a powerful online presence with our custom web development
          solutions. We design and develop websites that are responsive,
          user-friendly, and tailored to your needs
        </p>
      </div>
      <div class="service">
        <Image src={Msword} alt="Service 3" class="service-image" />
        <h2>Comprehensive MS Word Services</h2>
        <p>
          Build a powerful online presence with our custom web development
          solutions. We design and develop websites that are responsive,
          user-friendly, and tailored to your needs
        </p>
      </div>
    </div>
  </div>
</Layout>

<style>
  .outer-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;
  }
  .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  .hero {
    background-color: #2a2763;

    color: #ffffff;
    padding: 120px 20px;
    text-align: center;
    border-radius: 20px;
    margin-top: 3.5rem;
  }
  .service {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    background-color: #fff;
  }
  .service-image {
    width: 100%;
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-radius: 8px;
  }
  .service h2 {
    margin-top: 10px;
    font-size: 1.5em;
  }
  .service p {
    font-size: 1em;
    color: #333;
  }
  @media (max-width: 600px) {
    .services-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }
</style>
