---
import { Image } from "astro:assets";
import HeroImage from "../assets/heroimage.svg";
import type { HeroData, Link } from "@/config/data.interface";

interface Props {
  data: HeroData;
}
const { data } = Astro.props;
---

<script>
  import { gsap } from "gsap";

  document.addEventListener("DOMContentLoaded", () => {
    // Slide image from right
    const imageAnimation = gsap.from(".item-right img", {
      duration: 2,
      x: "100%",
      ease: "power3.out",
      delay: 0.5,
      onComplete: () => {
        // Scale image after sliding in
        gsap.to(".item-right img", {
          duration: 1,
          scale: 1.1,
          ease: "power2.out",
        });
      },
    });

    // Slide heading up from down
    gsap.from(".content", {
      duration: 1.5,
      y: "100%",
      ease: "power3.out",
      delay: 0.5,
    });
  });
</script>

<div class="hero-section">
  <div class="inner-container">
    <div class="item-left">
      <div class="content">
        <div class="text-view">
          <h1 class="heading">
            {data.heading}
          </h1>
          <!-- <p class="description">
            {data.description}
          </p> -->
        </div>
        {
          data.links.map((item: Link) => (
            <a class="cta-btn" href={item.href}>
              {item.label}
            </a>
          ))
        }
      </div>
    </div>
    <div class="item-right">
      <Image src={HeroImage} alt="" />
    </div>
  </div>
</div>

<style>
  .hero-section {
    background-image: white;
  }
  .inner-container {
    max-width: 1300px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 64px;
    padding: 1rem;
    gap: 2rem;
  }
  .item-left {
    flex: 1;
    color: rgb(0, 0, 0);
    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .heading {
      font-size: 64px;
      line-height: 4rem;
      font-weight: 600;
      padding-bottom: 1rem;
      letter-spacing: 1px;
    }
    .description {
      font-size: 22px;
      font-weight: 200;
      color: rgb(0, 0, 0);
    }
    .cta-btn {
      text-decoration: none;
      padding: 0.5rem 1rem;
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      font-weight: 400;
      width: fit-content;
      border: 1px solid rgb(0, 0, 0);
      border-radius: 45px;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: rgba(255, 255, 255, 0);
        color: rgb(0, 0, 0);
      }
    }
  }
  .item-right {
    flex: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  @media (max-width: 800px) {
    .inner-container {
      height: 100vh;
      max-width: 100%;
      flex-direction: column-reverse;
      padding: 64px 1rem 1rem 1rem;
    }
    .item-left {
      flex: 1;
      color: rgb(0, 0, 0);
      .content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      .heading {
        font-size: 34px;
        line-height: 2.5rem;
        font-weight: 300;
        padding-bottom: 1rem;
        letter-spacing: 1px;
      }
      .description {
        font-size: 18px;
        font-weight: 200;
        color: rgb(0, 0, 0);
      }
      .cta-btn {
        text-decoration: none;
        padding: 0.5rem 1rem;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-weight: 400;
        width: fit-content;
        border: 1px solid rgb(0, 0, 0);
        transition: background-color 0.3s ease;
        &:hover {
          background-color: rgba(255, 255, 255, 0);
          color: rgb(0, 0, 0);
        }
      }
    }
  }
</style>
