---
import "../styles/global.scss";
import type { Meta } from "@/config/data.interface";
import Footer from "@/sections/Footer.astro";
import Header from "@/sections/Header.astro";
import WhatsApp from "../assets/whatsapp.svg";
interface Props {
  title: string;
  meta?: Meta;
}
import { getLandingData } from "@/services/data.service";
import { Image } from "astro:assets";
const data = await getLandingData();
const { title, meta } = Astro.props;
const ldJson = JSON.stringify(meta?.ldJson);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset={meta?.charset ?? "UTF-8"} />
    <meta name="description" content={meta?.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="canonical" href={import.meta.env.SITE} />
    <script type="application/ld+json" set:html={ldJson} />
    <title>{title}</title>
  </head>
  <body>
    <Header data={data.headerData} />
    <a class="Whatsapp" href="https://wa.me/9142040934" target="_blank">
      <Image src={WhatsApp} alt="" />
    </a>
    <slot />
  </body>
</html>

<style>
  .Whatsapp {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
    height: 80px;
    width: auto;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  @media (max-width: 800px) {
    .Whatsapp {
      display: none;
    }
  }
</style>
