---
import "../styles/global.scss";
import type { Meta } from "@/config/data.interface";
import Header from "@/sections/Header.astro";

interface Props {
  title: string;
  meta?: Meta;
}
import { getLandingData } from "@/services/data.service";
const data = await getLandingData();
const { title, meta } = Astro.props;
// const ldJson = JSON.stringify(meta?.ldJson);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset={meta?.charset ?? "UTF-8"} />
    <meta name="description" content={meta?.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="canonical" href={import.meta.env.SITE} />
    <!-- <script type="application/ld+json" set:html={ldJson} /> -->
    <title>{title}</title>
  </head>
  <body>
    <Header data={data.headerData} />
    <slot />
  </body><script
    src="https://static.elfsight.com/platform/platform.js"
    data-use-service-core
    defer></script>
  <div
    class="elfsight-app-0039d12e-c31a-423b-86e9-0cb9f02cc449"
    data-elfsight-app-lazy
  >
  </div>
</html>
